<div class="container">
  <div class="card">
    <div class="card-header">
      Upload file on Firebase Storage with Angular
    </div>
    <div class="card-body">

      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
          [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="text-center" *ngIf="uploadProgress">
        {{ uploadProgress | async }}%
      </div>
      <br/>

      <h5 class="card-title">Select a file for upload:</h5>
      <input type="file" (change)="upload($event)" class="form-control" />

      <br/>
      <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
        <small>
          File link:
          <a [href]="downloadSrc">{{downloadSrc}}</a>
        </small>
      </div>

    </div>
  </div>
</div>
